<!-- Loop over each object in the projects array -->

<form action="/search" method="GET" class="pt-8 mb-5" id="search-form">
  <div class="flex space-x-1 border-b-2 group">
    <input value="{{q}}" class="flex-grow p-2 bg-transparent rounded outline-none " type="text" name="q"
      placeholder="Search existing books..." />
    <button type="submit">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-6 h-6 text-primary group-hover:text-amber-600 duration-200">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
      </svg>

    </button>
  </div>

  <div>
    <span class="mr-2">Order By:</span>
    <select name="order" class="p-2 bg-transparent rounded outline-none mt-5 border">
      <option value="none" selected disabled hidden>A-Z</option>
      <option value="A-Z">A-Z</option>
      <option value="Z-A">Z-A</option>
    </select>
  </div>
</form>

{{#if q}}
<p class="text-lg">You searched: {{q}}</p>
{{/if}}

{{#if order}}
<p class="text-lg">Order: {{order}}</p>
<a href="/" class="underline mt-2">Clear search</a>
{{/if}}

<div class="py-10">
  <h1 class="text-3xl text-primary mb-10 flex justify-center">Best Reads:</h1>

  <div class="justify-center grid grid-cols-1 sm:flex flex-wrap gap-5">
    {{#each books as |book| }}
    <a href="/book/{{book.id}}" class="text-[#2b5ea5] mb-5 mx-auto sm:mx-0 group duration-200 ">
      <div
        class="hover:-translate-y-3 image-wrapper shine relative w-[192px] h-[287px] duration-200 mb-4 shadow-xl group-hover:shadow-2xl group-hover:shadow-amber-200">
        <img src={{book.thumbnail}} alt="Book Cover" class="w-full h-full">
        <img src="/images/book-cover-overlay.webp" alt=""
          class="absolute top-0 left-0 w-full h-full mix-blend-multiply">
      </div>
      <div class="group-hover:text-amber-600 duration-200">
        <h5 class="text-[1.1rem] font-bold group-hover:font-bold truncate max-w-[192px]">{{book.name}}</h5>
        <p class="truncate max-w-[192px]">{{book.author}}</p>
      </div>
    </a>
    {{/each}}
  </div>
</div>

<script>
  const searchForm = document.getElementById('search-form');
  const orderBySelect = document.querySelector('select[name="order"]');

  orderBySelect.addEventListener('change', () => {
    searchForm.submit();
  });
</script>

{{!-- {{#each books as |book| }}
<div class="row mb-4 project py-2">
  <div class="col-12">
    <div style="display:flex;gap:1rem">
      <img src={{book.thumbnail}} style="width:128px;height:180px" />
      <div>
        <h4>
          <a href="/book/{{book.id}}">{{book.name}}, by {{book.author}}</a>
        </h4>
        <p>Recommended by {{book.user.name}} on {{format_date book.date_added}}</p>
        <p>{{book.description}}</p>
      </div>
    </div>`
  </div>
</div>
{{/each}} --}}